.header {
  //position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: rgba(0,0,0,0.5);
  width: 100%;
  color: #fff;
  align-items: center;
  font: 400 16px/24px Arial, Hlvetica, sans-serif;

  &__logo {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,0, 0.5);
    text-decoration: none;
    color: #000;
    font-weight: 700;
  }

  &__welcome-name {
    color: #9BB7FF;
  }
}